@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-serif: 'Noto Serif SC', 'Noto Serif SC', serif;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  .seriftitle {
    font-family: var(--font-serif), serif;
  }
}
